<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2026 Schäberle Lab. Site</p>
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		<p>We are part of the <a href="https://www.uni-giessen.de/en/faculties/f09?set_language=en">Faculty 09 (Agricultural Sciences, Nutritional Sciences, and Environmental Management)</a> at the<a href="https://www.uni-giessen.de/en"> University of Giessen (JLU)</a></p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
Ohlebergsweg 12 <br />
		  35392 Gießen <br />
		  Germany <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
